body {
    text-align: center;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    margin-top: -250PX;
}

.mat-form-field{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

